<div id="meeting-wrapper" class="text-center">
    <div id="meeting-header">
        IN MEETING
    </div>

    <div id="meeting-footer">
        I am currently either in a meeting or on an important phone call.
    </div>
</div>